In [1]:
import pandas as pd
import os

from typing import Dict

# Formatting Original Data

In [2]:
src_dir = os.getcwd()
data_dir = os.path.join(src_dir, "Data")
os.makedirs(data_dir, exist_ok=True)  # Make directory if it doesn't exist

## nba-players-stats/Seasons_Stats.csv

In [3]:
stat_50_17_file = os.path.join(src_dir, "nba-players-stats/Seasons_Stats.csv")
stat50_17 = pd.read_csv(stat_50_17_file, index_col=0)

In [4]:
def format_stats_50_17(stat50_17: pd.DataFrame, type_conv: Dict) -> pd.DataFrame:
    """
    Formats 1950-2017 stats file. Note that this function modifies stat50_17 to save memory.
    In:
        stat50_17: DataFrame from 1950-2017 stats file; modified in-place to save memory.
        type_conv: Dict containing column names to convert to int.
    Return:
        Formatted 1991-2017 stats DataFrame.
    """
    # Drop rows prior to 1990 (our salary data is from 1991 onwards)
    stat50_17.drop(stat50_17[stat50_17["Year"] < 1990].index, inplace=True)
    # Drop NA columns
    stat50_17.dropna(axis=1, how='all', inplace=True)
    # Drop NA rows
    stat50_17.dropna(inplace=True)  # Defaults: axis=0, how='any'
    # For players who had multiple teams for a year, keep the TOTAL row
    stat50_17.drop_duplicates(subset=["Year", "Player"], inplace=True)
    # Convert certain cols to int; deep copy here
    stat91_17 = stat50_17.astype(type_conv)
    # Remove asterisks from HOF players
    stat91_17["Player"] = stat91_17["Player"].str.rstrip('*')
    # Reset index
    stat91_17.reset_index(drop=True, inplace=True) # Drop the old index (rather than adding it as a col)
    return stat91_17

In [5]:
cols_to_int = ['Year', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT', 'FTA',
              'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'] 
type_conv = dict.fromkeys(cols_to_int, int)
stat91_17 = format_stats_50_17(stat50_17, type_conv)
# Show first and last 5 rows and columns
# iloc[row_idx_list, col_idx_list]
print(stat91_17.iloc[list(range(5)) + list(range(-5, 0)), 
                   list(range(5)) + list(range(-5, 0))])

      Year              Player Pos  Age   Tm  STL  BLK  TOV   PF   PTS
0     1991  Mahmoud Abdul-Rauf  PG   21  DEN   55    4  110  149   942
1     1991          Mark Acres   C   28  ORL   25   25   42  218   285
2     1991       Michael Adams  PG   28  DEN  147    6  240  162  1752
3     1991        Mark Aguirre  SF   31  DET   47   20  128  209  1104
4     1991         Danny Ainge  SG   31  POR   63   13  100  195   890
9890  2017      Thaddeus Young  PF   28  IND  114   30   96  135   814
9891  2017         Cody Zeller  PF   24  CHO   62   58   65  189   639
9892  2017        Tyler Zeller   C   27  BOS    7   21   20   61   178
9893  2017         Paul Zipser  SF   22  CHI   15   16   40   78   240
9894  2017         Ivica Zubac   C   19  LAL   14   33   30   66   284

## nba17-18

In [6]:
stats_18_a_file = os.path.join(src_dir, "nba17-18/nba.csv")
stats_18_b_file = os.path.join(src_dir, "nba17-18/nba_extra.csv")
# Merge on the intersection of column names and union the two DataFrames
stat18 = pd.merge(pd.read_csv(stats_18_a_file, index_col=0), 
                  pd.read_csv(stats_18_b_file, index_col=0), how="outer")

In [7]:
def format_stats_18(stat18: pd.DataFrame) -> pd.DataFrame:
    """
    Formats 2018 stats file. Note that this function modifies stat18 to save memory.
    This function could make stat18 an out parameter, but we return a value for consistency.
    In:
        stat18: DataFrame from 2018 stats file; modified in-place to save memory.
    Return:
        Formatted 2018 stats DataFrame.
    """
    # Drop NA columns
    stat18.dropna(axis=1, how='all', inplace=True)
    # Drop NA rows
    stat18.dropna(inplace=True)  # Defaults: axis=0, how='any'
    # Add Year column
    if not "Year" in stat18.columns: stat18.insert(0, "Year", 2018)
    # For players who had multiple teams for a year, keep the TOTAL row
    stat18.drop_duplicates(subset=["Year", "Player"], inplace=True)
    # Reorder columns; reindex doesn't do in-place and requires returning stat18 
    if stat18.columns.get_loc('G')+1 != stat18.columns.get_loc('GS'):
        gs = stat18.pop("GS")
        stat18.insert(stat18.columns.get_loc('G')+1, "GS", gs)
    # Remove name encoding appended to name (escaped backslash)
    stat18["Player"] = stat18["Player"].str.replace(r'\\(.*)', '')
    # Reset index
    stat18.reset_index(drop=True, inplace=True) # Drop the old index (rather than adding it as a col)
    return stat18

In [8]:
stat18 = format_stats_18(stat18)
# Show first and last 5 rows and columns
# iloc[row_idx_list, col_idx_list]
print(stat18.iloc[list(range(5)) + list(range(-5, 0)), 
                   list(range(5)) + list(range(-5, 0))])

     Year          Player Pos  Age   Tm  STL  BLK  TOV   PF   PTS
0    2018    Alex Abrines  SG   24  OKC   38    8   25  124   353
1    2018      Quincy Acy  PF   27  BRK   33   29   60  149   411
2    2018    Steven Adams   C   24  OKC   92   78  128  215  1056
3    2018     Bam Adebayo   C   20  MIA   32   41   66  138   477
4    2018   Arron Afflalo  SG   32  ORL    4    9   21   56   179
461  2018  Thaddeus Young  PF   29  IND  135   36  105  175   955
462  2018     Cody Zeller   C   25  CHO   14   21   33   81   233
463  2018    Tyler Zeller   C   28  TOT   15   35   47  126   441
464  2018     Paul Zipser  SF   23  CHI   20   15   43   86   218
465  2018     Ivica Zubac   C   20  LAL    8   15   26   47   161

## Combine Stats Data and Export CSV

In [9]:
stat91_18 = pd.concat([stat91_17, stat18]) # No need to use any join args b/c cols are the same
# Rename Year col to Season End for clarity
stat91_18.rename(columns={"Year": "Season End"}, inplace=True) 
print(stat91_18.iloc[list(range(5)) + list(range(-5, 0)), 
                   list(range(5)) + list(range(-5, 0))])

     Season End              Player Pos  Age   Tm  STL  BLK  TOV   PF   PTS
0          1991  Mahmoud Abdul-Rauf  PG   21  DEN   55    4  110  149   942
1          1991          Mark Acres   C   28  ORL   25   25   42  218   285
2          1991       Michael Adams  PG   28  DEN  147    6  240  162  1752
3          1991        Mark Aguirre  SF   31  DET   47   20  128  209  1104
4          1991         Danny Ainge  SG   31  POR   63   13  100  195   890
461        2018      Thaddeus Young  PF   29  IND  135   36  105  175   955
462        2018         Cody Zeller   C   25  CHO   14   21   33   81   233
463        2018        Tyler Zeller   C   28  TOT   15   35   47  126   441
464        2018         Paul Zipser  SF   23  CHI   20   15   43   86   218
465        2018         Ivica Zubac   C   20  LAL    8   15   26   47   161

In [10]:
out_stats_name = "nba_stats_1991_2018.csv"
out_stats_path = os.path.join(data_dir, out_stats_name)

In [11]:
if not os.path.isfile(out_stats_path): stat91_18.to_csv(out_stats_path, index=False)

## Salaries Per Season (1990-2017)

In [12]:
sal91_18_file = os.path.join(src_dir, "nba-player-salary-19902017/Player - Salaries per Year (1990 - 2017).csv")
sal91_18 = pd.read_csv(sal91_18_file)

In [13]:
def format_sal(sal91_18: pd.DataFrame) -> pd.DataFrame:
    """
    Formats 1991-2018 salaries file. Note that this function modifies sal91_18 to save memory.
    In:
        sal91_18: DataFrame from 1991-2018 salaries file; modified in-place to save memory.
    Return:
        Formatted salaries DataFrame.
    """
    # Remove "Register Value, Team, Full Team Name" columns
    if "Register Value" in sal91_18.columns: sal91_18.pop("Register Value")
    if "Team" in sal91_18.columns: sal91_18.pop("Team")
    if "Full Team Name" in sal91_18.columns: sal91_18.pop("Full Team Name")
    return sal91_18

In [14]:
sal91_18 = format_sal(sal91_18)
print(sal91_18.head())
print(sal91_18.tail())

  Player Name     Salary in $   Season Start  Season End
0  A.C. Green   $1,750,000.00           1990        1991
1  A.C. Green   $1,750,000.00           1991        1992
2  A.C. Green   $1,750,000.00           1992        1993
3  A.C. Green   $1,885,000.00           1993        1994
4  A.C. Green   $6,472,600.00           1994        1995
              Player Name      Salary in $   Season Start  Season End
11832  Zydrunas Ilgauskas    $8,740,000.00           2005        2006
11833  Zydrunas Ilgauskas    $9,442,697.00           2006        2007
11834  Zydrunas Ilgauskas   $10,142,156.00           2007        2008
11835  Zydrunas Ilgauskas   $10,841,615.00           2008        2009
11836  Zydrunas Ilgauskas   $11,541,074.00           2009        2010

In [15]:
out_sal_name = "nba_salaries_1991_2018.csv"
out_sal_path = os.path.join(data_dir, out_sal_name)

In [16]:
if not os.path.isfile(out_sal_path): sal91_18.to_csv(out_sal_path, index=False)

## Matching Salary Data to Player Data by Year

In [18]:
sal91_18_form_file = os.path.join(data_dir, "nba_salaries_1991_2018.csv")
sal91_18_form = pd.read_csv(sal91_18_form_file)
stat91_18_form_file = os.path.join(data_dir, "nba_stats_1991_2018.csv")
stat91_18_form = pd.read_csv(stat91_18_form_file)